.logo{
    position: absolute;
    padding: 16px;
}

.loginBackground {
    background-image: url(/src/assets/login/videoflix.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.signUp_dialog {
  width: 500px;
  max-width: 500px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}

.SignInHeader{
    font-size: 2.7em!important;
    margin-bottom: 40px!important;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.css-xn6ruc>:not(style) {
    width: 100%!important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgba(255, 255, 255, 0.8)!important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.8)!important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.8)!important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.8)!important;
}

.register_btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    width: 100%;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: rgb(229,9,20)!important;
    font-weight: bold!important;
    width: 200px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgba(229, 9, 20, 0.8)!important;
}

.register_btn{
    background-color: rgba(128,128,128,0.4)!important;
}

.register_btn:hover{
    background-color: rgba(128,128,128,0.4)!important;
}

.forgot_password_btn{
    padding-top: 24px;
}

.forgot_password_btn a{
    text-decoration: none;
    color: white;
}