.MainPageContainer {
    height: 100dvh;
    width: 100dvw;
    padding: 4px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.VideoDetailView {
    display: flex;
    flex: 1;
}

.VideoPlayer {
    display: flex;
    flex: 1;
}