.VideoContainer {
    box-sizing: border-box;
}

.Video {
    border-radius: 8px;
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1.25;
    transition: 125ms;
    cursor: pointer;
}

.Video:hover {
    transform: scale(1.1);
}
