.VideoPlayer__Wrapper {
    height: 100%;
    width: 100%;
}

.VideoPlayer__Container {
    height: 100%;
    width: 100%;
}

.Hud {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    padding: 10px;
}

.Hud__Top {
    display: flex;
    align-items: center;
}

.ArrowBack {
    cursor: pointer;
}

.Hud__Top__Title {
    font-weight: 500;
    font-size: 1.25em;
}

.Hud__Bottom {
    display: flex;
    flex-direction: column;
}

.Hud__Bottom__Controls {
    display: flex;
    justify-content: center;
}

.Controls__Mid {
    display: flex;
}

.PlayIcon,
.PauseIcon {
    cursor: pointer;
}

.Controls__Right {
    display: flex;
}

.Volume__Container {
    cursor: pointer;
}

.Setting__Container {
    cursor: pointer;
    position: relative;
}

.Setting__Menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -90px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    gap: 2px;
    margin-left: -12px;
    background-color: #373942;
}

.Hud__Bottom__Slider {
    padding: 1px;
}

.VideoPlayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}


.Video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}