.VideoDetail__Container {
    display: flex;
    flex: 1;
}


.VideoDetail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 30px;
    z-index: 1;
}

.GradientOverlay {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9332107843137255) 10%, rgba(0,0,0,0.7819502801120448) 43%, rgba(0,0,0,0) 74%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
}


.Video_Detail__Bottom {
    display: flex;
}

.BackButton {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 3;
}

.VideoItem__CategoryContainer {
    display: flex;
    gap: 5px;
    z-index: 3;
}

.CategoryContainer__Img {
    height: 30px;
    object-fit: contain;
}


.VideoItem__ButtonContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    gap: 10px;
    z-index: 3;
}

.VideoItem__Title {
    z-index: 3;
}

.VideoItem__Description {
    z-index: 3;
}

.ButtonContainer__Play {
    display: flex;
    padding: 4px;
    border-radius: 4px;
    background-color: white;
    width: 80px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.ButtonContainer__Save {
    background-color: #4F4F4F;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.PlayButton__Text {
    color: black;
    font-weight: 700;
    font-size: 1rem;
}


.VideoItem__Footer {
    display: flex;
    flex-direction: column;
    z-index: 3;
    border-bottom: 2px solid #F9F9F933;
}

.Footer__Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.Header__Title {
    font-weight: 700;
    font-size: 1.25rem;
}